body {
  margin: 2rem;
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scores {
  margin-left: 5rem;
}

.my-row {
  display: flex;
  gap: 5rem;
}

.refresh {
  margin: auto auto;
}

ul {
  border: 3px solid black;
  width: 75%;
}

ul li {
  list-style-type: none;
  width: 100%;
  margin-left: -0.5rem;
}

#populate > li:nth-child(odd) {
  background: #cfcfcf;
}

.form-items {
  margin: 25px auto;
}
