body {
  margin: 2rem;
  padding: 0;
  font-size: 20px;
}

.container {
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scores {
  margin-left: 5rem;
}

.my-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.form-items {
  margin: 25px auto;
}

